In [232]:
import sklearn
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
df=pd.read_csv("C:\\Users\\akkid\\Downloads\\insurancenew")
df

      Unnamed: 0  age     sex     bmi  children smoker     region      charges
0              0   19  female  27.900         0    yes  southwest  16884.92400
1              1   18    male  33.770         1     no  southeast   1725.55230
2              2   28    male  33.000         3     no  southeast   4449.46200
3              3   33    male  22.705         0     no  northwest  21984.47061
4              4   32    male  28.880         0     no  northwest   3866.85520
...          ...  ...     ...     ...       ...    ...        ...          ...
1324        1333   50    male  30.970         3     no  northwest  10600.54830
1325        1334   18  female  31.920         0     no  northeast   2205.98080
1326        1335   18  female  36.850         0     no  southeast   1629.83350
1327        1336   21  female  25.800         0     no  southwest   2007.94500
1328        1337   61  female  29.070         0    yes  northwest  29141.36030

[1329 rows x 8 columns]

In [233]:
df.columns

Index(['Unnamed: 0', 'age', 'sex', 'bmi', 'children', 'smoker', 'region',
       'charges'],
      dtype='object')

In [234]:
df.head()
df=df.drop('Unnamed: 0',axis=1)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1324   50    male  30.970         3     no  northwest  10600.54830
1325   18  female  31.920         0     no  northeast   2205.98080
1326   18  female  36.850         0     no  southeast   1629.83350
1327   21  female  25.800         0     no  southwest   2007.94500
1328   61  female  29.070         0    yes  northwest  29141.36030

[1329 rows x 7 columns]

In [235]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1324   50    male  30.97         3     no  northwest  10600.5483
1325   18  female  31.92         0     no  northeast   2205.9808
1326   18  female  36.85         0     no  southeast   1629.8335
1327   21  female  25.80         0     no  southwest   2007.9450
1328   61  female  29.07         0    yes  northwest  29141.3603

In [236]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [237]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [238]:
df.shape

(1329, 7)

In [239]:
X=df[['age','sex','bmi','children','smoker','region']]
y=df['charges']

In [240]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=100)

print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(996, 6) (996,)
(333, 6) (333,)

# X_train

In [241]:
X_train.head()

      age     sex     bmi  children smoker     region
1245   40  female  29.300         4     no  southwest
591    46  female  33.725         1     no  northeast
574    52    male  30.200         1     no  southwest
832    36    male  31.500         0     no  southwest
675    49  female  23.180         2     no  northwest

In [242]:
X_train.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
dtype: object

In [243]:
X_train_cat=X_train.select_dtypes(include=["object"])
X_train_cat.head()

         sex smoker     region
1245  female     no  southwest
591   female     no  northeast
574     male     no  southwest
832     male     no  southwest
675   female     no  northwest

In [244]:
X_train_num=X_train.select_dtypes(include=["int64","float64"])
X_train_num.head()

      age     bmi  children
1245   40  29.300         4
591    46  33.725         1
574    52  30.200         1
832    36  31.500         0
675    49  23.180         2

# scaling numerical values

In [245]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train_num),
                                 columns=X_train_num.columns,
                                 index=X_train_num.index)
X_train_num_rescaled.head()

           age       bmi  children
1245  0.062525 -0.211657  2.384342
591   0.494491  0.538212 -0.095440
574   0.926457 -0.059142 -0.095440
832  -0.225452  0.161159 -0.922034
675   0.710474 -1.248764  0.731154

In [246]:
X_train_num.describe()

              age         bmi    children
count  996.000000  996.000000  996.000000
mean    39.131526   30.548996    1.115462
std     13.896956    5.903995    1.210391
min     18.000000   15.960000    0.000000
25%     26.000000   26.315000    0.000000
50%     40.000000   30.210000    1.000000
75%     51.000000   34.520000    2.000000
max     64.000000   46.750000    5.000000

In [247]:
from sklearn.preprocessing import OneHotEncoder

encoder_ = OneHotEncoder(drop='first',min_frequency=100,  sparse=False)

X_train_cat_ohe = pd.DataFrame(encoder_.fit_transform(X_train_cat), 
                               columns=encoder_.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1245,0.0,0.0,0.0,0.0,1.0
591,0.0,0.0,0.0,0.0,0.0
574,1.0,0.0,0.0,0.0,1.0
832,1.0,0.0,0.0,0.0,1.0
675,0.0,0.0,1.0,0.0,0.0

In [248]:
from sklearn.preprocessing import OneHotEncoder

encoder_ = OneHotEncoder(drop='first', sparse=False)

X_train_cat_ohe = pd.DataFrame(encoder_.fit_transform(X_train_cat), 
                               columns=encoder_.get_feature_names_out(X_train_cat.columns), 
                               index = X_train_cat.index)

X_train_cat_ohe.head()

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1245,0.0,0.0,0.0,0.0,1.0
591,0.0,0.0,0.0,0.0,0.0
574,1.0,0.0,0.0,0.0,1.0
832,1.0,0.0,0.0,0.0,1.0
675,0.0,0.0,1.0,0.0,0.0

# concatinating the one hot encoding features and numerical features

In [249]:
X_train_transformed = pd.concat([X_train_num_rescaled, X_train_cat_ohe], axis=1)

X_train_transformed.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1245,0.062525,-0.211657,2.384342,0.0,0.0,0.0,0.0,1.0
591,0.494491,0.538212,-0.095440,0.0,0.0,0.0,0.0,0.0
574,0.926457,-0.059142,-0.095440,1.0,0.0,0.0,0.0,1.0
832,-0.225452,0.161159,-0.922034,1.0,0.0,0.0,0.0,1.0
675,0.710474,-1.248764,0.731154,0.0,0.0,1.0,0.0,0.0

# X_test data

In [250]:
X_test.head()

      age     sex     bmi  children smoker     region
1096   37    male  29.800         0     no  southwest
450    20    male  29.735         0     no  northwest
1283   19    male  34.900         0    yes  southwest
1269   32  female  29.735         0     no  northwest
520    38  female  37.730         0     no  southeast

In [251]:
X_test.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
dtype: object

In [252]:
X_test.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [253]:
X_test_num=X_test.select_dtypes(include=["int64","float64"])
X_test_num.head()

      age     bmi  children
1096   37  29.800         0
450    20  29.735         0
1283   19  34.900         0
1269   32  29.735         0
520    38  37.730         0

In [254]:
X_test_cat=X_test.select_dtypes(include=["object"])
X_test_cat.head()

         sex smoker     region
1096    male     no  southwest
450     male     no  northwest
1283    male    yes  southwest
1269  female     no  northwest
520   female     no  southeast

In [255]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = X_test_num.columns, 
                                   index = X_test_num.index)

X_test_num_rescaled.head()

           age       bmi  children
1096 -0.153458 -0.126926 -0.922034
450  -1.377362 -0.137941 -0.922034
1283 -1.449356  0.737329 -0.922034
1269 -0.513430 -0.137941 -0.922034
520  -0.081463  1.216907 -0.922034

# converting categorical to numerical by one hot encoding

In [256]:
from sklearn.preprocessing import OneHotEncoder

encoder_ = OneHotEncoder(drop='first',  sparse=False)

X_test_cat_ohe = pd.DataFrame(encoder_.fit_transform(X_test_cat), 
                               columns=encoder_.get_feature_names_out(X_test_cat.columns), 
                               index = X_test_cat.index)

X_test_cat_ohe.head()

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1096,1.0,0.0,0.0,0.0,1.0
450,1.0,0.0,1.0,0.0,0.0
1283,1.0,1.0,0.0,0.0,1.0
1269,0.0,0.0,1.0,0.0,0.0
520,0.0,0.0,0.0,1.0,0.0

# concatinating the one hot encoding features and numerical features of test data

In [257]:
X_test_transformed = pd.concat([X_test_num_rescaled, X_test_cat_ohe], axis=1)

X_test_transformed.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
1096,-0.153458,-0.126926,-0.922034,1.0,0.0,0.0,0.0,1.0
450,-1.377362,-0.137941,-0.922034,1.0,0.0,1.0,0.0,0.0
1283,-1.449356,0.737329,-0.922034,1.0,1.0,0.0,0.0,1.0
1269,-0.513430,-0.137941,-0.922034,0.0,0.0,1.0,0.0,0.0
520,-0.081463,1.216907,-0.922034,0.0,0.0,0.0,1.0,0.0

# Linear regression

In [258]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train_transformed, y_train)

LinearRegression()

In [259]:
y_test_pred= regressor.predict(X_test_transformed)

In [260]:
temp_df=pd.DataFrame({'Actual':y_test,'predicted':y_test_pred})

temp_df.head()

           Actual     predicted
1096  20420.60465   5949.681900
450    1769.53165   2745.925155
1283  34828.65400  26803.401306
1269   4357.04365   5875.484692
520    5397.61670   9636.052232

In [261]:
from sklearn import metrics

print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))

print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))

print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 4216.628979172493
Mean Squared Error: 35982258.52813223
Root Mean Squared Error: 5998.521361813445

# KNN regressor

In [262]:
from sklearn.neighbors import KNeighborsRegressor
regressor= KNeighborsRegressor()
regressor.fit(X_train_transformed,y_train)

KNeighborsRegressor()

In [263]:
y_test_pred= regressor.predict(X_test_transformed)

In [264]:
temp_df=pd.DataFrame({'Actual':y_test,'predicted':y_test_pred})

temp_df.head()

           Actual    predicted
1096  20420.60465   4075.76560
450    1769.53165   2165.43066
1283  34828.65400  14920.41793
1269   4357.04365   3824.17022
520    5397.61670   6115.68122

In [265]:
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))

print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))

print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 4092.2019264846845
Mean Squared Error: 45897981.28890307
Root Mean Squared Error: 6774.80488936051

# Decision tree regressor

In [266]:
from sklearn.tree import DecisionTreeRegressor
regressor=  DecisionTreeRegressor()
regressor.fit(X_train_transformed,y_train)

DecisionTreeRegressor()

In [267]:
y_test_pred= regressor.predict(X_test_transformed)

temp_df=pd.DataFrame({'Actual':y_test,'predicted':y_test_pred})

temp_df.head()

           Actual    predicted
1096  20420.60465   5028.14660
450    1769.53165   1875.34400
1283  34828.65400  36219.40545
1269   4357.04365   3972.92470
520    5397.61670   5920.10410

In [268]:
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))

print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))

print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 2912.993397027027
Mean Squared Error: 39746745.76789878
Root Mean Squared Error: 6304.502023784177

# Random forest regressor

In [269]:
from sklearn.ensemble import RandomForestRegressor
regressor=  RandomForestRegressor()
regressor.fit(X_train_transformed,y_train)

RandomForestRegressor()

In [270]:
y_test_pred= regressor.predict(X_test_transformed)

temp_df=pd.DataFrame({'Actual':y_test,'predicted':y_test_pred})

temp_df.head()

           Actual     predicted
1096  20420.60465   4866.074951
450    1769.53165   2131.561275
1283  34828.65400  36510.023297
1269   4357.04365   4173.082765
520    5397.61670   6166.049026

In [271]:
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))

print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))

print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 2586.755370588939
Mean Squared Error: 23926075.59116291
Root Mean Squared Error: 4891.428788315629

# support vector machines

In [272]:
from sklearn.svm import SVR
model= SVR()
model.fit(X_train_transformed,y_train)

SVR()

In [273]:
y_test_pred= model.predict(X_test_transformed)

temp_df=pd.DataFrame({'Actual':y_test,'predicted':y_test_pred})

temp_df.head()

           Actual    predicted
1096  20420.60465  9359.912567
450    1769.53165  9327.812270
1283  34828.65400  9370.673046
1269   4357.04365  9341.843119
520    5397.61670  9377.822837

In [274]:
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_test_pred))

print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_test_pred))

print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_test_pred)))

Mean Absolute Error: 8258.621542912939
Mean Squared Error: 144997183.47308007
Root Mean Squared Error: 12041.477628309578

# so we conclude  that random forest regressor is the best model to predict